@{
    ViewBag.Title = "青职二货街-关于我们";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@section Header{
    <link href="/Content/css/about.css" rel="stylesheet" />
    <link href="/Content/css/Others/AboutUs.css" rel="stylesheet" />

}
<div id="header">
    <div id="logo">
        <a href="/Home/Index">&lt;回到青职二货街</a>
    </div>
</div>
@*<h2 class="top_title">青职二货街开发历程</h2>
<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="/Content/images/about/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>青岛市物联网研究院学生科研项目启动</h2>
            <p>举行了学生科研项目答辩仪式。学生项目《青职二货街》通过答辩，进入项目研发阶段。科研小组成员：成笑笑、王少凤、张玉鑫、贾国栋。</p>
            <span class="cd-date">2014-12-15</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="/Content/images/about/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>需求分析、静态页面设计、系统数据库</h2>
            <p>小组成员进行首先进行需求分析等工作，后期进行网页设计和系统数据库设计。</p>
            <span class="cd-date">2015-01-31</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="/Content/images/about/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>用户模块开发完成</h2>
            <p>进行用户模块的研发，完成了预期目标，可以进行注册用户、绑定邮箱、找回密码、登录等操作。</p>
            <span class="cd-date">2015-02-20</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="/Content/images/about/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>实现物品搜索功能</h2>
            <p>利用技术实现物品搜索功能，可精确查找相关用户发布的物品信息。并实现关键词高亮显示。提高了物品搜索的效率。为奋斗的研发团队点个赞。</p>
            <span class="cd-date">2015-03-14</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="/Content/images/about/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>个人用户中心功能完善</h2>
            <p>研发个人中心模块，可实现修改个人资料、修改个人头像信息、收藏夹、个人足迹、进行开店操作等功能。任何开店操作皆有系统管理员进行严格审核。</p>
            <span class="cd-date">2015-04-25</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="/Content/images/about/cd-icon-picture.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>青职二货街完善工作</h2>
            <p>进行青职二货街后期的完善工作。整体架构测试、系统功能测试、压力测试等均通过。青职二货街历时6个月完成。</p>
            <span class="cd-date">2015-05-21</span>
        </div>
    </div>
</section>*@
<h2 class="top_title">青职二货街研发小组人员介绍</h2>
<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="/Content/images/about/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>成笑笑</h2>
            <p>
                软件与服务外包学院，物联网应用技术13级学生。2014级物联星空社团社长。大学期间一直热衷于研究C#网站开发相关技术，取得了一些小的成果。全面负责青职二货街系统的统筹与研发工作。曾经作品：练习项目新生报到系统。软外学院门禁管理系统。智能农业管控系统-节点添加添加模块。《帮我译社区》论坛项目。《青职二货街》校园二手交易平台。
            </p>
            <span class="cd-date">First</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="/Content/images/about/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>王少凤</h2>
            <p>软件与服务外包学院，物联网应用技术13级学生。熟悉PhotoShop色彩搭配以及图片制作。负责青职二货街的页面设计与配色。</p>
            <span class="cd-date">Second</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="/Content/images/about/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>贾国栋</h2>
            <p>软件与服务外包学院，物联网应用技术14级学生。能对网站建设有比较理性的认知，对安卓客户端开发感兴趣。负责青职二货街的系统需求分析与开发文档相关工作</p>
            <span class="cd-date">Third</span>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="/Content/images/about/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>张玉鑫</h2>
            <p>软件与服务外包学院，物联网应用技术14级学生。对网络建设以及网站推广感兴趣。负责青职二货街系统的测试工作</p>
            <span class="cd-date">Forth</span>
        </div>
    </div>
</section>