@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>允许开店</title>
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewData["alert"]");
            window.close();
        }
    </script>
</head>
<body>
    <div>
        @{WLXK.SecondHand.Model.AdminUser user =Session["adminlogin"] as WLXK.SecondHand.Model.AdminUser;}
        @user.Uid
    </div>
</body>
</html>
